* {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction:column;
   
}

form {
    margin-top:5vh;
    width:80%;
    display:flex;
    align-self:center;
    flex-direction:column;
}

label{
    margin-bottom:1vh;
    text-align:justify;
}

input{
    margin-bottom:2vh;
}

#calcular{
    height:5vh;
    font-size:1.2rem;
}

#s_liquido{
    display:flex;
    align-self:center;
    width:80%;
    flex-direction:column;
}

#s_liquido ul{
    margin-left:8vw;
}


@media only screen and (min-width: 1024px) {

    form {
        width: 50%;

    }
    #s_liquido {
        width:50%;
    }

    #s_liquido ul{
        margin-left:2vw;
    }